body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    line-height: 50%;
    
    
}
h2{
    
    font-size: 35px;

}


.color{
    color: dodgerblue;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 107, 194),deepskyblue);
    padding: 10px 40px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
}
.bg-shape{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.text-me{
    padding-top: 20%;
}
.recipies-item{
   text-align: center;
   margin-bottom: 50px;
   
}
.recipie-title-item
{

    width: 35%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 4%;
    border-radius: 20px;
   
}
.recipie-title-item img{
    width: 100%;
}
.subscribe-like-item{
    width: 80%;
    padding-left: 50px;
    box-shadow: 10px 10px 40px gray;
    margin: 10%;
    border-radius: 20px;
    margin-bottom: 250px;
 
}
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        padding-bottom: 6%;
     }
    
    

